@charset "UTF-8";

body{
    background-image: url(imagens/wallpaper001.jpg);
}

div.square {
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(240, 169, 62);
}

div#s1{
 background-image: linear-gradient(to bottom, orange, yellow);
}

div#s2{
background-image: linear-gradient(to top, rgb(113, 179, 241) , white);
}

div#s3{
background-image: url("imagens/pattern001.png");
}